#{{ ansible_managed }}

server {
    listen      {{ item.listen|default(nginx_default_listen) }};
    server_name {{ item.server_name|mandatory }};
    access_log  /var/log/nginx/{{ item.name }}_access.log {{ item.access_log_format|default('combined') }};
    error_log   /var/log/nginx/{{ item.name }}_error.log {{ item.error_log_format|default('warn') }};

{% for v in item.directives|default([]) %}
{% if v.find('\n') != -1 %}
   {{v.replace("\n","\n   ")}}
{% else %}
   {% if v != "" %}{{ v.replace(";",";\n      ").replace(" {"," {\n      ").replace(" }"," \n   }\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
}
