server {
    listen      {{ item.listen|default(nginx_default_listen) }};
    server_name {{ item.server_name|mandatory }};
    access_log  /var/log//{{ item.app }}/nginx/access.log {{ item.access_log_format|default('combined') }};
    error_log   /var/log/{{ item.app }}/nginx/error.log {{ item.error_log_format|default('warn') }};

    set $index "{{ item.index|default('index.php') }}";

    index $index;
    root "{{ item.root|default('/var/www/' ~ item.app) }}";

    location / {
        if (-f $request_filename) {
            break;
        }

        if (!-e $request_filename) {
            rewrite ^(.+)$ /$index$1 last;
            break;
        }
    }

    location ~ \.php {
        fastcgi_pass   {{ item.fastcgi_pass|default('unix:/var/run/php5-fpm-' ~ item.app ~ '.sock') }};
        fastcgi_index  $index;
        include        fastcgi_params;

        fastcgi_param SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    }

{% for v in item.directives|default([]) %}
{% if v.find('\n') != -1 %}
   {{v.replace("\n","\n   ")}}
{% else %}
   {% if v != "" %}{{ v.replace(";",";\n      ").replace(" {"," {\n      ").replace(" }"," \n   }\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
}
