{
    "services": [
{% for port in nginx_consul_ports %}
    {
        "name": "nginx",
        "tags": [{% for host in nginx_hosts %}"{{ host.name }}"{% if not loop.last %},{% endif %}{% endfor %}],
        "port": {{ port }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
   ]
}
