{
    "services": [
{% for port in nginx_consul_ports %}
    {
        "name": "nginx",
        "tags": [
{% for host in nginx_hosts %}
{% for server in host.server_name.split() %}
    "{{ server }}"{% if not loop.last %},{% endif %}
{% endfor %}
{% endfor %}
        ],
        "port": {{ port }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
   ]
}
